
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="assets/css/navbar.css" rel="stylesheet" type="text/css">

</head>
<body>
  <% include partials/navbar.ejs %>
  <div class="row card bg-light text-dark" style="margin:10vh 10vw;padding:2vh 2vw;text-align: center;">
    <h3>Explore Categories </h3>
    <div class="card-deck">
     <div class="card">
       <img class="card-img-top" src="assets/images/electronic.jpg" alt="Card image"></a>
       <div class="card-body">
        <h4 class="card-title">Electronics</h4>
       </div>
     </div>
     <div class="card">
       <img class="card-img-top" src="assets/images/toy.jpg" alt="Card image"></a>
       <div class="card-body">
        <h4 class="card-title">Toys</h4>
       </div>
     </div>
     <div class="card">
      <img class="card-img-top" src="assets/images/toy.jpg" alt="Card image"></a>
      <div class="card-body">
       <h4 class="card-title">Toys</h4>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/images/toy.jpg" alt="Card image"></a>
      <div class="card-body">
       <h4 class="card-title">Toys</h4>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/images/toy.jpg" alt="Card image"></a>
      <div class="card-body">
       <h4 class="card-title">Toys</h4>
      </div>
    </div>
   </div>
   


  </div>
  <form class="form-inline">
    <div class="input-group search-box">
      <input type="text" class="form-control" placeholder="What are you looking for?" aria-label="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button"><i class="ion-search"></i></button>
      </span>
    </div>
  </form>
</body>
